.Index {
    padding-left: 50px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.listTitle {
    font-size: 20px;
}
.link {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}
.link:hover {
    color: rgb(128, 127, 127);
}