.Admin {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.adminTitles {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.title1 {
    font-size: 46px;
}
.title2 {
    font-size: 22px;
}