.AdminHeader {  
    display: flex;
    flex-direction: row;
    z-index: 9999;
}
.AdminHeader div {
    z-index: 9999 !important;
}
.btn {
    width: 55px !important;
    height: 55px !important;
    border-radius: 50% !important;
    background-color: #BAA8F0;
    position: fixed;
    top: -25px;
    right: -25px;
}
.btn span {
    color: white;
}
.btn:hover {
    background-color: #825FED !important;
}
.list {
    padding: 5px !important;
    border-radius: 15px !important;
}
.menuBtn {
    background-color: white ;
    transition: all 0.3s ease !important;
}
.menuBtn:hover {
    background-color: #BAA8F0;
    color: white;
}
.menuBtn:focus {
    background-color: #BAA8F0 !important;
    color: white;
}
.firstBtn {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}
.centralBtn {
    border-radius: 15px !important;
}
.lastBtn {
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}